/* General Styles */
* {
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1b1b1b;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* main */

/* Estilos para la introducción */
.introduction {
    display: flex;
    align-items: flex-start;
    text-align: left;
    margin-left: 20%;
    margin-right: 2%;
    margin-bottom: 2%;
    justify-content: flex-end;
   
}

.introduction h1 {
   top: 0;
    padding-right: 1%;
    color: #ffffff; 
    line-height: 0;
}

.introduction p {
   padding-top: 1%;
    width: 45%; 
    color: #ffffff;
}

/* Resto de estilos main */


.main {
    flex: 1;
    width: 80%;
    height: 90%;
    color: #fff;
    margin: 0 auto;
    padding-left: 2%;
    padding-top: 3%;
    padding-bottom: 20%;
}

.section {
    position: relative;
    text-align: left;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.image-item {
    text-align: left;
}

.image-item img {
    max-width: 100%;
    height: auto;
}

.description {
    text-align:left ;
    margin-top: 10px;
    font-size: 14px;
    color: #fff;
}
/* stilos colores */
.primary-colors .image-item.custom-spacing {
    margin-right: 1%; 
}

.primary-colors .image-item.custom-size img {
    max-width: 5vw; 
}

/* Reset */
.primary-colors .image-item.custom-spacing:last-child {
    margin-right: 0;
}

/* gradients */
.gradients .image-item.custom-spacing {
    margin-right: 1%; 
}

.gradients .image-item.custom-size img {
    max-width: 5vw; 
}

/* Reset  */
.gradients .image-item.custom-spacing:last-child {
    margin-right: 0;
}

/* Otros estilos existentes */
.video-container {
    width: 90%;
    margin: 0 auto;
}

.video-container video {
    width: 100%;
}

/* Background Sections */
.section:nth-child(1)::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 10%;
    width: 500px;
    height: 500px;
    background: hsl(342, 100%, 50% , 0.656);
    border-radius: 50%;
    filter: blur(180px);
    transform: translate(-50%, -50%);
    z-index: -1;
}

.section:nth-child(2)::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 10%;
    width: 500px;
    height: 500px;
    background: hsl(342, 100%, 50% , 0.656);
    border-radius: 50%;
    filter: blur(180px);
    transform: translate(50%, -50%);
    z-index: -1;
}

.section:nth-child(3)::before {
    content: '';
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 500px;
    height: 500px;
    background: hsl(342, 100%, 50% , 0.656);
    border-radius: 50%;
    filter: blur(180px);
    transform: translate(-50%, 50%);
    z-index: -1;
}

/* Header Styles */
.site-header {
    position: relative;
    color: #fff;
    max-width: 100%;
    width: 100%;
    height: 600px;
    text-align: center;
    background-image: url("");
    background-size: cover;
    overflow: hidden;
}

.site-header::before {
    content: '';
    position: absolute;
    top: 90%;
    left: 50%;
    width: 500px;
    height: 500px;
    background: hsl(342, 100%, 50% , 0.656);
    border-radius: 50%;
    filter: blur(180px);
    transform: translate(-50%, -50%);
    z-index: -1;
}


.site-header .background-image {
    position: absolute;
    justify-self: center;
    top: 1%;
    left: 30%;
    width: 50%;
    height: auto;
    z-index: -1; 
    animation: slideDown 1s ease-in-out 1s both;
}

.site-header .background-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.site-branding img {
    padding-top: 2%;
    padding-right: 80%;
    max-width: 5%;
    height: 20%;
    z-index: 1;
    box-shadow: #000000;
}

.site-description {
    width: 65%;
    padding-left: 5%;
    padding-top: 10%;
    font-weight: bold;
    font-size: 7vw;
    text-align: left;
    color: #ffffff;
}

/* Menu */
.navigation-main-menu {
    padding-top: 1%;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.navigation-wrap {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
}

.navigation-wrap nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: right;
}

.navigation-wrap nav ul li {
    margin: 0 15px;
    font-size: 1vw;
}

.navigation-wrap nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

.navigation-wrap nav ul li a:hover {
    color: #ff0048;
}

/* Menú desplegable */
.navigation-wrap nav ul li.dropdown ul.submenu {
    position: absolute;
    padding-top: 0,5%;
    text-align: left;
    left: 84%;
    top: 100%;
    display: none;
    color: #fff;
    z-index: 1;
}

.navigation-wrap nav ul li.dropdown:hover ul.submenu {
    display: block;
}


/* Footer Styles */
.footer {
    color: #fff;
    bottom: 0;
    position: relative;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    background-image: linear-gradient(to bottom right,  hsla(342, 100%, 50%, 0.656), hsla(228, 10%, 20%, 0.485));
    overflow: hidden;
    flex-shrink: 0;
}

.footer .site-info {
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
}

.footer .site-info.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.footer .site-info .columns {
    font-size: 14px;
    flex: 1;
    padding: 0 15px;
}

.footer .site-info .columns h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer .site-info .columns.small-12 {
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid #555;
}

/* Animation */
.card, .video-container, .section h1, .section img, .section p {
    animation: CSSscrollReveal ease-in-out both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
}

@keyframes CSSscrollReveal {
    from {
        opacity: 0;
        transform: translateX(-100%); /* Mover el elemento desde la izquierda */
    }
    to {
        opacity: 1;
        transform: translateX(0); /* Mover el elemento a su posición original */
    }
}
/*
.card, .video-container, .section h1, .section img, .section p {
    animation: CSSscrollReveal ease-in-out both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
}

@keyframes CSSscrollReveal {
    from {
        opacity: 0;
        transform: translateX(100%); 
    }
    to {
        opacity: 1;
        transform: translateX(0); 
    }
} */